@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Jolly+Lodger&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
div.card{
  display: flex;
  margin: 15px auto;
  height: 200px;
  width: 150px;

  background-color: #ffffff;
  border-radius: 5px;

  overflow: hidden;

  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
img{
  margin: 0 auto;
  width: 75px;
}