button{
background-image: url(../../componentes/assets/Moon.svg);
width: 32px;
height: 32px;
position: absolute;
border: none;
top: 28px;
left:70%;
cursor: pointer;
background-color: transparent;
}
.changMoon{
  background-image: url(../../componentes/assets/Moon.svg);
  position: absolute;
  border: none;
  top: 28px;
  left:70%;
  cursor: pointer;
  background-color: transparent;
}
.changSun{
  background-image: url(../../componentes/assets/Sun.svg);
  position: absolute;
  border: none;
  top: 28px;
  left:70%;
  cursor: pointer;
  background-color: transparent;
}

body{
  transition: all 0.5s ease-out;
}

.theme{
  background-color:#121212;
  transition: all 0.5s ease-out;
 
}


/*Em breve*/
/* @media (max-width:750px){
    button{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
} */


