
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

ul.Navigation{
  background-color: #3DADC6;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
  list-style: none;
  padding: 10px;
  height: 70px;
}
li{
  font-size: 30px;
  color: #fff;
}
ul.Navigation li a{
  text-decoration: none;
  color: rgba(0, 0, 0, 0.815);
  transition: all 0.4s ease-out;
}
ul.Navigation li:hover{
  transform: scale(1,1.2);
  
}
.hambuguer{
 visibility: visible;
}
.hambuguer span{
  content: '';
  width: 10px;
  height: 3px;
  background-color: rgb(0, 0, 0);
  margin: 5px;
  border-radius: 5px;
}