@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Jolly+Lodger&display=swap');

h1{
  font-family: 'Jolly Lodger';
  text-align: center;
  font-size: 70px;
  
}
h1 a{
  text-decoration: none;
  /* color:#3DADC6 ; */
}
body{
  background-color: #ffffff;
}