button{
background-image: url(moon1.svg);
width: 33.9px;
height: 33.9px;
position: absolute;
border: none;
top: 28px;
left:70%;
cursor: pointer;
background-color: transparent;
}
.changMoon{
  background-image: url(moon2.svg);
  position: absolute;
  border: none;
  top: 28px;
  left:70%;
  cursor: pointer;
  background-color: transparent;
}

body{
  transition: all 0.5s ease-out;
}

.theme{
  background-color:#000000;
  transition: all 0.5s ease-out;
 
}


/*Em breve*/
/* @media (max-width:750px){
    button{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
} */


