button{
background-image: url(./moon-svgrepo-com.svg);
width: 30px;
height: 30px;
position: absolute;
border: none;
top: 15px;
left:70%;
cursor: pointer;
background-color: transparent;
}
button:hover{
  width: 33px;
  height: 33px;
}

/*Em breve*/
/* @media (max-width:750px){
    button{
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
    }
} */