@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700&family=Jolly+Lodger&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
body{
  width: 100%;
  height: 100vh;
<<<<<<< HEAD
 
=======
>>>>>>> origin
}

.App {
  text-align: center;
  font-family:'Jolly Lodger';
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
<<<<<<< HEAD
} */

/* .App-header {
  color: #3DADC6;
  font-size: 100px;
} */
/* header{
  BACKGROUND-COLOR: #3DADC6;
  height: 10px;
} */
.hidden{
  transform: translate(calc(-1 * 152px));
} 


=======
}

.App-header {
  color: #3DADC6;
  font-size: 100px;
}
>>>>>>> origin
.options{
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
}
.OptionsTitle{
  font-size:50px ;
<<<<<<< HEAD
  text-align: center;
  margin: 30px auto;
=======
  text-align: left;
  margin-top: 50px;
  margin-left: 100px;
>>>>>>> origin
}
.Famous{
  display: flex;
  flex-wrap: wrap;
  max-width: 600px;
  float: right;
}
<<<<<<< HEAD
 .FamousTitle{
  font-size:50px;
  margin: 30px;
  text-align: center;
  
  
}
.FamousTitle svg{
  margin: 5px;
=======
/* .FamousTitle{
  font-size:50px;
  margin-top: 50px;
  
} */
h1.NewTitle{
  font-size:50px;
  text-align: center;
  margin: 15px;
}
.New{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-evenly;
>>>>>>> origin
}

.NewTitle{
  font-size:50px;
  text-align: center;
  margin: 30 px;
}
.NewTitle svg{
  margin: 5px;
}

<<<<<<< HEAD
.New{
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  justify-content: space-evenly;
}

=======
>>>>>>> origin
@media (max-width:700px){
  .OptionsTitle{
    font-size:50px;
    text-align:center;
    margin: 0 auto;
  }
}
